html,body{
  margin: 0;
  padding: 0;
  background-color: #F7F8F9;
  height: 100vh;
}

.center {
  position: absolute;
  top: 20%;
  left:10%
}

/*overriding the class thumbnail in bootstrap.css*/
.thumbnail{
  margin-bottom: 45px;
}

.centerText {
  text-align: center;
}

